</main>
<footer>
    <div class="jackson">
        <h4>Founders</h4>
        <h3>Jackson Herron & Eduardo Franco </h3>
        <a class="jackson" href="http://www.linkedin.com/in/jacksonherron"><i class="fab fa-linkedin icon"></i></a>
        <a class="jackson" href="https://github.com/jacksonherron"><i class="fab fa-github-square icon"></i></a>
        <a class="eduardo" href="https://www.linkedin.com/in/edfrancocano/"><i class="fab fa-linkedin icon"></i></a>
        <a class="eduardo" href="https://github.com/edfranco"><i class="fab fa-github-square icon"></i></a>
        <h5>jacksonherron@gmail.com | ed@eduardofranco.me</h5>

    </div>

</footer>

<script src="/scripts/app.js"></script>
</body>

</html>